p <b>Do no use Google Translate or other tools to translate</b>
p If the filmmakers released the film with a translated title, use that. You will likely find this information on IMDB or Wikipedia, or through Google search.
p <b>Examples</b>:</br>
    - Arabic: الكرنك (Al-Karnak) &#8594 <em>no translation</em></br>
    - Chinese: 卧虎藏龙 &#8594 Crouching Tiger, Hidden Dragon</br>
    - French: Alice au pays des merveilles &#8594 Alice in Wonderland</br>
p If the film title was not officially translated, <b>do not translate it yourself</b>.