p The foreign title is the <b>original</b> title of the film. This title will <em>usually</em> be in a foreign language, but not necessarily.
p For example, the Japanese film Princess Mononoke has the foreign title もののけ姫 (transliterated: Mononoke-hime). However, the Arabic film Satin Rouge doesn't have a title with Arabic characters; this is okay.
p Many films have titles in multiple foreign languages. If this is the case, use the language of the country where it was first released.