p
  | Transliteration is the art of taking characters in one writing system and transforming them into another. For example, we can transliterate Japanese 
  | to look like English (latin character set). For languages like French and Spanish, simply remove the accents from the characters. 
  | For languages like Arabic or Japanese, you usually need to find the transliteration on <b>IMDB</b> or <b>Wikipedia</b>.
p <b>Examples</b>:</br>
    - Arabic: الأرض &#8594 Al-ard</br>
    - Chinese: 卧虎藏龙 &#8594 Wo hu cang long</br>
    - French: Amélie &#8594 Amelie</br>
    - German: Waffen für die Welt - Export außer Kontrolle &#8594 Waffen fur die Welt - Export ausser Kontrolle</br>
    - Italian: La vita è bella &#8594 La vita e bella</br>
    - Japanese: もののけ姫 &#8594 Mononoke-hime</br>
    - Russian: Летят журавли  &#8594 Letyat zhuravli</br>
    - Spanish: Y Tu Mamá También &#8594 Y Tu Mama Tambien</br>
p It is recommended to use an IMDB-or-Wikipedia-transliterated title instead of doing it yourself.