.reservation-calendar.col-md-6.hidden style="position: fixed; right: 0; bottom: 10rem; z-index: 999"
  .embed-responsive.embed-responsive-16by9
    = render partial: "partials/reservation_calendar_google"