= form_tag films_path, id: "film_search_form", method: :get do |f|
    .row
        .col-md-4
            h4 Keyword
            .input-group
                = search_field_tag :search, params[:search], placeholder: "Search by catalog number, title, or description", class: "form-control", autocomplete: "off"
                span.input-group-btn
                    button.btn.btn-primary(type="submit")
                        .glyphicon.glyphicon-search
        .col-md-2
            h4 Audio Languages
            = select_tag :audio_languages,
                options_for_select(Language::LANGUAGES.map { |l, i| [l, l] }, params[:audio_languages]), {class: "form-control", multiple: true}
        .col-md-2
            h4 Subtitle Languages
            = select_tag :subtitle_languages,
                options_for_select(Language::LANGUAGES.map { |l, i| [l, l] }, params[:subtitle_languages]), {class: "form-control", multiple: true}
        .col-md-4
            h4 Directors, Cast Members and Genres
            = hidden_field_tag :tag_list, params[:tag_list]
            // Convert the tag list from CSV string to an array so that is shows up in the select2 input
            - tag_list = params[:tag_list].split(",") if params[:tag_list].present?
            = select_tag :tag_list,
                options_for_select(tag_list || [], tag_list),
                    {id: "tag_list_select2",
                    name: "tag_list_select2",
                    multiple: true,
                    data: { taggable: true, taggable_type: "Film"},
                    class: "form-control"}
javascript:
    $(document).ready(function() {

        var films = new Bloodhound({
            datumTokenizer: Bloodhound.tokenizers.obj.whitespace('value'),
            queryTokenizer: Bloodhound.tokenizers.whitespace,
            remote: {
                wildcard: '%QUERY',
                url: '/films/autocomplete?search=%QUERY'
            }
        });

        $('#search').typeahead({
                minLength: 2
            },
            {
                name: 'films',
                display: 'catalog_number',
                source: films,
                templates: {
                    suggestion: function(s) {

                        var audio_html = "", subtitle_html = "";
                        for (i = 0; i < s.audio_languages.length; i ++) {
                            audio_html += "<span class='label label-primary'>" + s.audio_languages[i] + "</span> "
                        }

                        for (i = 0; i < s.subtitle_languages.length; i ++) {
                            subtitle_html += "<span class='label label-primary'>" + s.subtitle_languages[i] + "</span> "
                        }
                        var html = '<div class="container-fluid">\
                                        <div class="row">\
                                            <div class="col-md-3">\
                                                <div>\
                                                    <img src="' + s.cover_thumb + '" class="img-responsive">\
                                                </div>\
                                            </div>\
                                            <div class="col-md-9">\
                                                <div class="row">\
                                                    <div class="col-md-8">\
                                                        <p><strong>' + s.title + '</strong></p>\
                                                    </div>\
                                                    <div class="col-md-4">\
                                                        <p class="text-right"><strong>' + s.catalog_number + '</strong></p>\
                                                    </div>\
                                                </div>\
                                                <div class="row">\
                                                    <div class="col-md-12">\
                                                        <p class="text-justify"><small>' + s.description + '</small></p>\
                                                    </div>\
                                                </div>\
                                                <div class="row">\
                                                    <div class="col-md-6">\
                                                        <p><strong>Audio</strong>: ' + audio_html + '</p>\
                                                    </div>\
                                                    <div class="col-md-6">\
                                                        <p><strong>Subtitles</strong>: ' + subtitle_html + '</p>\
                                                    </div>\
                                                </div>\
                                            </div>\
                                        </div>\
                                    </div>'
                        return html;
                    }
                }
            }
        );

        $("#search").on("typeahead:select", function(ev, suggestion) {
            $("#film_search_form").submit();
        });
    });