h1 Editing standard_activity

= render 'form'

= link_to 'Edit', edit_standard_activity_path(@standard_activity), class: "btn btn-info"
= link_to 'Back', standard_activities_path, class: "btn btn-info"
