// Bootstrap documentation callout CSS from: http://cpratt.co/twitter-bootstrap-callout-css-styles

// Darkly theme color variables
$gray-base:             #000    !default;
$gray-darker:           lighten($gray-base, 13.5%) !default;
$gray-dark:             #303030 !default;
$gray:                  #464545 !default;
$gray-light:            #999    !default;
$gray-lighter:          #EBEBEB !default;
$brand-primary:         #375a7f !default;
$brand-success:         #00bc8c !default;
$brand-info:            #3498DB !default;
$brand-warning:         #F39C12 !default;
$brand-danger:          #E74C3C !default;

.bs-callout {
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
}

.bs-callout h4 {
    margin-top: 0;
    margin-bottom: 5px;
}

.bs-callout p:last-child {
    margin-bottom: 0;
}

.bs-callout code {
    border-radius: 3px;
}

.bs-callout+.bs-callout {
    margin-top: -5px;
}

@mixin bs-mixin($name, $callout-color)
{
    // Callout border color
    .#{$name} {
        border-left-color: $callout-color;
    }
    
    // Callout header color and header (if link) color
    .#{$name} h4, .#{$name} h4 a {
        color: $callout-color;
    }
}

@include bs-mixin(bs-callout-default, $gray);
@include bs-mixin(bs-callout-primary, $brand-primary);
@include bs-mixin(bs-callout-info, $brand-info);
@include bs-mixin(bs-callout-danger, $brand-danger);
@include bs-mixin(bs-callout-warning, $brand-warning);
@include bs-mixin(bs-callout-success, $brand-success);